@inject LandLord.BlazorApp.Services.CardConverterService cardConverter

<div class="@(this.CssClass)">
    <div>
        @{
            var player = this.Wrapper.Player;
        }
        @if (player != null)
        {
            <div class="player-info @(this.IsItsTurn? "isCurrentTurn": " ")">
                <span class="@this.BadgeCssClass()"></span>
                <span>
                    @(!string.IsNullOrEmpty(player.Name) ? player.Name : "None")
                </span>
            </div>
        }
        <ul class="cards">
            @foreach (var (c, i) in this.Wrapper.Cards.Select((card, idx) => (card, idx)))
            {
                <li class="">
                    <Card CardItem="c" />
                </li>
            }
        </ul>
    </div>
</div>

@code{

    [Parameter]
    public PlayerAndCardsWrapper Wrapper { get; set; }

    [Parameter]
    public bool IsLandLord { get; set; }

    [Parameter]
    public bool IsItsTurn { get; set; }  //"this.state.gameRoom.currentTurn == this.state.turnIndex

    [Parameter]
    public string CssClass { get; set; }

    private string BadgeCssClass() => this.IsLandLord ? "landlord-badge" : "peasant-badge";

}