@inject LandLord.BlazorApp.Services.CardConverterService cardConverter

<div class="prev-cards">
    <ul class="cards">
        @foreach (var c in this.Cards)
        {
            <li>
                <Card CardItem="c"/>
            </li>
        }
    </ul>
</div>

@code{

    [Parameter]
    public IList<PlayingCard> Cards { get; set; }
}