@inject LandLord.BlazorApp.Services.CardConverterService cardConverter

<div class="reserved-cards">
    <ul class="cards">
        @foreach (var card in Cards)
        {
            <li>
                <Card CardItem="card"/>
            </li>
        }
    </ul>
    <div>
        <button class="btn btn-primary" @onclick="TryToBeLandLord">抢地主</button>
    </div>
</div>


@code{
    [Parameter]
    public IList<PlayingCard> Cards { get; set; }

    [Parameter]
    public EventCallback BeLandLord { get; set; }

    private async Task TryToBeLandLord(MouseEventArgs e)
    {
        await this.BeLandLord.InvokeAsync(null);
    }

}