@inherits LayoutComponentBase
@using LandLord.BlazorApp.Shared.General.Toasts

<div class="main">
    <div class="content px-4">
        <ToastContainer >
            @Body
        </ToastContainer>
    </div>
</div>
