@inject LandLord.BlazorApp.Services.CardConverterService cardConverter

<li class="reserved-cards">
    <ul>
        @foreach (var card in Cards)
        {
            <li>
                <Card CardItem="card"/>
            </li>
        }
    </ul>
    <span>底</span>
    <div>
        <button @onclick="TryToBeLandLord">抢</button>
    </div>
</li>


@code{
    [Parameter]
    public IList<PlayingCard> Cards { get; set; }

    [Parameter]
    public EventCallback BeLandLord { get; set; }

    private async Task TryToBeLandLord(MouseEventArgs e)
    {
        await this.BeLandLord.InvokeAsync(null);
    }

}