
.container .player-desk{
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 300px 100px; 
  grid-row-gap: 1.5em;
}

ul li {
  list-style-type: decimal;
}

span.landlord-badge, span.peasant-badge {
  display:inline-block;
  width: 40px;
  height:40px;
  background-size: cover;
}
span.landlord-badge {
  background-image: url("/images/landlord.png");
}
span.peasant-badge {
  background-image: url("/images/peasant.png");
}

.me {
  grid-row-start: 2;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: -1;
  background-color:azure;
}

  .me ul.cards {
    display:grid;
    grid-template-columns:repeat(20,1fr);
    grid-gap:1.2em;
  }
  .me ul li {
    list-style:none;
  }

  div[class^=card-club-] {
    color:blueviolet;
  }
  div[class^=card-diamond-] {
    color: black;
  }
  div[class^=card-heart-] {
    color: red;
  }
  div[class^=card-spade-] {
    color: orangered;
  }


.left {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start:1;
  grid-column-end: 3;
  background-color:azure;
  overflow: hidden scroll ;
}

.right {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start:-3;
  grid-column-end: -1;
  background-color: azure;
  overflow: hidden scroll ;
}

.isCurrentTurn {
  background-color: lemonchiffon;
}

