@page "/room/{id:guid}"
@using LandLord.BlazorApp.Data
@using LandLord.Shared.Hub.CallbackArguments
@using Itminus.LandLord.BlazorExtensions.SignalR.Patch
@using LandLord.BlazorApp.Shared.General.Toasts
@inject LandLord.BlazorApp.Services.SignalRService sigalRService



@if (this.State?.GameRoom != null)
{
    <div class="LandLordGame">
        <CascadingValue Name="GameRoomId" Value="this.Id">
        <CascadingValue Name="GameData" Value="this.State.GameRoom">
        <CascadingValue Name="TurnIndex" Value="this.State.TurnIndex">
            @switch (this.State.GameRoom.RoomState)
            {
                case LandLord.Shared.Room.GameRoomState.CreatedButHasNotStarted:
                    <GameReception />
                    break;
                default:
                    <GamePlaying />
                    <GameEnding />
                    break;
            }
        </CascadingValue>
        </CascadingValue>
        </CascadingValue>
    </div>
}

@code {

    [CascadingParameter] public ToastContainer ToastContainer { get; set; }
    [Parameter] public Guid Id { get; set; }
    [Parameter] public GameStateDto State { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.sigalRService.Connection.On<GameStateDto>("ReceiveState", (state) =>
        {
            this.State = state;
            Console.WriteLine($"State Has Changed ~~~~~~ : turnIndex={state.TurnIndex}, RoomId={state.GameRoom?.Id}");
            this.StateHasChanged();
            return Task.CompletedTask;
        });
        this.sigalRService.Connection.On<CallbackArgs>("PlayCardsCallback", (cbarg) =>
        {
            if (cbarg.Kind == KindValues.Success)
            {
                // clear selections
                Console.WriteLine("Playing Cards Succeeds");
            }
            else if (cbarg.Kind == KindValues.Fail)
            {
                Console.WriteLine("Error happens");
                this.ToastContainer.CreateNewToast(new Shared.General.Toasts.Toast { 
                    Kind=ToastKind.Danger,
                    Title="错误", 
                    Content="出牌失败！",
                });

            }
            return Task.CompletedTask;
        });

        this.sigalRService.Connection.On<CallbackArgs>("StartGameCallback", (cbarg) =>
        {
            if (cbarg.Kind == KindValues.Success)
            {
                Console.WriteLine("Being LandLord Succeeds");
            }
            else if (cbarg.Kind == KindValues.Fail)
            {
                this.ToastContainer.CreateNewToast(new Shared.General.Toasts.Toast { 
                    Kind=ToastKind.Danger,
                    Title="错误", 
                    Content="游戏开始时出错了！",
                });
            }
            return Task.CompletedTask;
        });

        this.sigalRService.Connection.On<CallbackArgs>("BeLandLordCallback", (cbarg) =>
        {
            if (cbarg.Kind == KindValues.Success)
            {
                Console.WriteLine("Being LandLord Succeeds");
                this.ToastContainer.CreateNewToast(new Shared.General.Toasts.Toast { 
                    Kind=ToastKind.Success,
                    Title="操作成功", 
                    Content="成功抢到了地主！",
                });
            }
            else if (cbarg.Kind == KindValues.Fail)
            {
                this.ToastContainer.CreateNewToast(new Shared.General.Toasts.Toast { 
                    Kind=ToastKind.Warning,
                    Title="错误", 
                    Content="地主没抢到！",
                });
            }
            return Task.CompletedTask;
        });

        await sigalRService.PullLatestStateAsync(this.Id);
        await sigalRService.JoinRoomAsync(this.Id);
    }






}