ul.cards {
    list-style:none;
}
ul.cards li{
    height: 30px;
}

.desk-common {
    min-height: 150px;
}

.me ul.cards {
    list-style: none;
}

.me ul.cards li {
    display: inline-block;
    width: 30px;
    height: 150px;
    overflow: hidden;
}

.me ul.cards li div {
    display: inline;
}

.card img {
    max-width:105px;
    max-height:150px;
}
